<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face Recognition Attendance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Face Recognition Attendance System</h1>
    <div class="container">
        <div class="video-container">
            <img src="{{ url_for('video_feed') }}" width="640" height="480">
        </div>
        <div class="button-container">
            <a href="{{ url_for('get_attendance') }}" target="_blank" class="btn">View Attendance Records</a>
        </div>
    </div>
</body>
</html>
